@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --theme: #0b5467;
  --title : #494d4c;
}

body::-webkit-scrollbar{
  background: black;
  width: 7px;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
  background: wheat;
  border-radius: 10px;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}



table{
  border: 2px solid gold;
}

table img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

table td{
  border: 2px solid red;
  padding:0.2vw;
}

.fc .fc-daygrid-day-top{
  display: revert;
  font-size: 0.8rem;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  margin: 0;
  min-height: 1.5rem;
  max-height: 1.5rem;
  cursor: pointer;
}